@import url("https://fonts.googleapis.com/css?family=Roboto");

$width: 512px;
$height: 512px;

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 14px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $width;
  height: $height;
}

.tagging {
  overflow: hidden;
  position: relative;
  width: $width;
  height: $height;
  background-image: url("./img/image.jpg");
}

.tagging-element {
  position: absolute;

  .tag {
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px 15px;
    background-color: rgba(34, 34, 34, 0.75);
    opacity: 0.9;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: 0 0 black;
    border-radius: 5px;
  }
}

.hide {
  border: none;
  background: transparent;
  visibility: hidden;
  z-index: 10000;
}

#tag1 {
  left: 196.672px;
  top: 305px;
}

#tag2 {
  left: 288.172px;
  top: 213px;
}

#tag3 {
  left: 166.672px;
  top: 125px;
}
